actionlib==1.12.0
airsim==1.2.8
airsimneurips==1.2.0
angles==1.9.12
argcomplete==1.12.0
bleach==3.1.4
bondpy==1.8.5
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.26
catkin-pkg==0.4.20
certifi==2018.8.24
colorama==0.4.3
controller-manager==0.18.1
controller-manager-msgs==0.18.1
cv-bridge==1.13.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
distro==1.5.0
docutils==0.16
dynamic-reconfigure==1.6.3
entrypoints==0.2.3
evo==1.10.1
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.12
gnupg==2.3.1
image-geometry==1.13.0
importlib-metadata==1.7.0
interactive-markers==1.11.5
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
Jinja2==2.11.2
joblib==0.14.1
joint-state-publisher==1.12.15
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==5.2.0
jupyter-core==4.5.0
kdl-parser-py==1.13.1
kiwisolver==1.1.0
laser-geometry==1.6.5
MarkupSafe==1.0
matplotlib==3.0.3
mavros==1.2.0
message-filters==1.14.6
mistune==0.8.3
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
natsort==7.0.1
nbconvert==5.5.0
nbformat==5.0.6
notebook==5.6.0
numpy==1.16.0
opencv-contrib-python==4.2.0.34
pandas==0.25.3
pandocfilters==1.4.2
pexpect==4.6.0
pickleshare==0.7.4
Pillow==7.2.0
prometheus-client==0.7.1
prompt-toolkit==1.0.15
psutil==5.7.2
ptyprocess==0.6.0
pycryptodomex==3.9.8
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytz==2020.1
PyYAML==5.3.1
pyzmq==17.1.2
qt-dotgraph==0.4.1
qt-gui==0.4.1
qt-gui-cpp==0.4.1
qt-gui-py-common==0.4.1
qtconsole==4.7.4
QtPy==1.9.0
resource-retriever==1.12.6
rosbag==1.14.6
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.6
roslaunch==1.14.6
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.6
rosmake==1.14.9
rosmaster==1.14.6
rosmsg==1.14.6
rosnode==1.14.6
rosparam==1.14.6
rospkg==1.2.6
rospy==1.14.6
rosservice==1.14.6
rostest==1.14.6
rostopic==1.14.6
rosunit==1.14.9
roswtf==1.14.6
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.14
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.13
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.9.1
Send2Trash==1.5.0
sensor-msgs==1.12.7
simplegeneric==0.8.1
six==1.15.0
sklearn==0.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
terminado==0.8.1
testpath==0.4.4
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.6
tornado==4.5.3
traitlets==4.3.2
urdfdom-py==0.4.3
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.4.1
xacro==1.13.5
zipp==1.2.0
